<div class="auth-container">
    <div class="row auth-main">
      <div class="col px-0 d-none d-sm-block">
      </div>
      <div class="col auth-form-section">
        <div class="form-section">
          <div class="auth-wrapper">
            <h3 class="welcome-msg text-center"> Registration Confirmation </h3>
            <form class="validate-form">
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <h4 class="auth-signup-text text-muted text-center p-t-20 p-b-15">
                    {{confirmEmailMessage}}
                  </h4>
                </div>
              </div>
              <!-- <div class="container-auth-form-btn mt-5">
                <button mat-raised-button color="primary" class="auth-form-btn" [disabled]="!authForm.valid "
                  type="submit">
                  Reset My Password
                </button>
              </div> -->
              <div class="w-full p-t-25 text-center">
                <div>
                  <a routerLink="/authentication/signin" class="txt1">
                    Login?
                  </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col px-0 d-none d-sm-block">
      </div>    
    </div>
  </div>